*{
    margin: 0;
    padding: 9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 body
 {
    background-color: #000;
    color: #fff;
 }
 .header
 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("Netflix_Background.jpg");
    background-size: cover;
    background-position: center;
 }
 .navbar
 {
    width: 100%;
    height: 60px;
    
 }
 .logo
 {
    background-image: url("logo.png");
    width: 150px; 
    height: 39px;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 14%;
    top:6%;
 }
 .navbar
{
    display: flex;
    justify-content: space-around;
}
.sinlan
{
    display: flex;
    
}
.srcbar
{
    height: 34px;
    width: 130px;
    position: absolute;
    top: 6%;
    right: 19%;
    background:transparent;
    border: 1px solid white;
    border-radius: 5px;
    
}
.srcbar:hover
{
    border: 1px solid #db0001;
}

.btnsignin
{
    height: 32px;
    width: 108px;
    position: absolute;
    top: 6%;
    right: 10%;
    background-color: #db0001;
    color: white;
    font-size: 10px;
    padding: px;
    border-radius: 5px;
    font-size: 19px;
    border: none;
    transition: 0.5s ease-in-out;
}
.btn:hover
{
    border: 1px solid white;
}
.headcontent
{
    position: absolute;
    top: 37%;
    left: 24%;
    text-align: center;
}
.thebiggest
{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    position: relative;
    text-align: center;
    top: 46%;
    left: -11%;
    transition: 0.5s ease-in-out;
}
.b:hover
{
    color: #db0001;
}
.ww
{
    position: absolute;
    top: 113%;
    left: 24%;
    transition: 0.5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Readyto
{
    position: absolute;
    top: 150%;
    left: 13%;
    transition: 0.5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.emailgetstarted
{
    position: absolute;
    top: 180%;
    left: 10%;
}
.email
{
    width: 449px;
    height: 52px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.5s ease-in-out;
}
.xxx1:hover
{
    border: 1px solid black;
}
.xxx:hover
{
    border: 1px solid black;
}
.get
{
    height: 50px;
    width: 158px;
    padding: 10px;
    background-color: #db0001;
    padding: 5px;
    border-radius: 15px;
    color: white;
    font-size: 18px;   
}


/* =====================BOX1 ================= */
.content
{
    position: absolute;
    top: 124%;
    left: 10%;
    transition: 0.5s ease-in-out;
} 
.x:hover
{
    color: #303030;   
}
.feature1
{
    height: 362px;
    width: 480px;
    position: absolute;
    top: 110%;
    left: 59%;
}
.ffgg:hover
{
    border: 4px solid rgba(0,0,0,0.7);
}
.wstv
{
    position: absolute;
    top: 153%;
    left: 1%;
    width: 595px;
    height: 103px;
    text-align: left;
    font-size: 22px;
}
.etv, .etv2, .etv3, .etv4
{
   font-size: 66px;
   font-weight: 300px;
}
.etv3
{
  width: 713px;
}
/* =====================BOX 2===================================== */

.content2
{
    position: absolute;
    top: 181%;
    right: 8%;
    transition: 0.5s ease-in-out;
} 
.feature2
{
    height: 362px;
    width: 480px;

    position: absolute;
    top: 171%;
    right: 59%;

}
.wstv2
{
    position: absolute;
    top: 153%;
    left: 1%;
    width: 595px;
    height: 103px;
    text-align: left;
    font-size: 22px;
}

/* ==================BOX 3 =======================================*/
/* =====================BOX 3===================================== */

.content3
{
    position: absolute;
    top: 241%;
    left: 3%;;
    transition: 0.5s ease-in-out;
} 
.feature3
{
    height: 362px;
    width: 480px;

    position: absolute;
    top: 233%;
    left: 59%;

}
.wstv3
{
    position: absolute;
    top: 127%;
    left: 1%;
    width: 595px;
    height: 103px;
    text-align: left;
    font-size: 22px;
}

/* ==============================================B0X 4======================================== */

.content4
{
    position: absolute;
    top: 304%;
    right: 1%;
    transition: 0.5s ease-in-out;
} 
.feature4
{
    height: 362px;
    width: 480px;

    position: absolute;
    top: 294%;
    right: 59%;

}
.wstv4
{
    position: absolute;
    top: 153%;
    left: 1%;
    width: 595px;
    height: 103px;
    text-align: left;
    font-size: 22px;
}
/* ================================FAq============================== */
.faq
{
    position: absolute;
    top: 355%;
    width: 100%;
    margin: 1px;
    padding: 20px;
}
.allinfo
{
    background-color: #303030;
    font-size: 31px;
    font-weight: 400;
    /* border: 2px solid #000; */
}
.allinfo li
{
    padding: 10px;
    border: 6px solid #000;
    list-style: none;
    border-radius: 10px;
    position: relative;
    left: -4%;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.w:hover
{
    color: #000;;
}
.nn
{
    width: 105%;
}

/* E-  mail */
.ee
{
  position: absolute;
  top: 426%;
  left: 30%;
}
.emailgetstarted1
{
    position: absolute;
    top: 180%;
    left: 15%;
    
    width: 631px;
}
/* =====================FOOTER======================= */
.footer
{
    position: absolute;
    top: 440%;
    
}
.saman
{
    display: flex;
    justify-content: space-around;
    height: 453px;
    width: 210%;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.saman1:hover
{
    color: #303030;
    text-decoration: none;
}
ul li
{
    font-size: 20px;
    line-height: 33px;
    list-style: none;
    transition: 0.5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.q1
{
    position: absolute;
    top: 23%;
    left: 20%;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.readyto
{
    position: absolute;
    top: 420%;
    left: 32%;
}
.myinfo
{
    position: absolute;
    bottom: -394%;
    left: 40%;
    transition: 0.5s ease-in-out;
}

/* logo */
.l
{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 33px;
    width: 20px;
    align-items: center;
    justify-content: space-between;
}
.downlogo
{
    position: absolute;
    top: 362%;
    right: 6%;
    justify-content: space-around;
}
.xxq:hover
{
   border: 1px solid black;
}
.ll
{
    position: absolute;
    top: 10%;
    left: 10%;
}
.ee1
{
    position: absolute;
    top: 7%;
    right: 23%;

}

.lll
{
    position: absolute;
    top: 7%;
    right: 21%;

}
.br1a
{
    border: 2px solid  #303030;
    border: 2px solid #303030;
    position: absolute;
    top: 166%;
    width: 100%;
}
.br1a
{
    border: 2px solid  #303030;
    border: 2px solid #303030;
    position: absolute;
    top: 166%;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.br2a
{
    border: 2px solid  #303030;
    border: 2px solid #303030;
    position: absolute;
    top: 225%;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.br3a
{
    border: 2px solid #303030;
    position: absolute;
    top: 286%;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.br4a
{
    border: 2px solid  #303030;
    border: 2px solid #303030;
    position: absolute;
    top: 441%;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.br5a
{
    border: 2px solid  #303030;
    border: 2px solid #303030;
    position: absolute;
    top: 344%;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.fq1
{
    text-align: center;
    position: absolute;
    top: -10%;
    left: 34%;
    transition: 0.5s steps(5);
}

.rrr
{
    text-align: center;
    transition: 0.5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav
{
   display: flex;
}
.lkj
{
    position: absolute;
    top: 495%;
    left: 47%;
}
.oooo
{
    position: absolute;
    top: -7%;
    left: 10%;
    width: 156px;
    height: 149%;
    transition: 0.5s ease-in-out;
}
.rexg
{
    position: absolute;
    bottom: -21px;
    left: -22px;
    transition: 0.5s ease-in-out;
}
.prxs
{
    position: absolute;
    bottom: -398%;
    left: 57%;
    padding: 1px;
    transition: 0.5s ease-in-out;
}
.pop:hover
{
    border: 2px solid white;
}
